/* BODY STYLING */
body {
    font-family: "Poppins", sans-serif;
    background-color: #0d1117;
    padding: 0px;
}

/* LINKS STYLING */
/* unvisited link */
a:link {
    color: whitesmoke;
}

/* visited link */
a:visited {
    color: whitesmoke;
}

/* mouse over link */
a:hover {
    color: whitesmoke;
    font-weight: 200;
}

/* selected link */
a:active {
    color: whitesmoke;
}

/* GRID STYLING */
table {
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

th,
td {
    border: 1px solid #161b22;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2e2851;
    color: whitesmoke;
}

/* Apply gray background to odd rows */
tbody tr:nth-child(odd) {
    background-color: lightgray;
    color: black;
}

tbody tr:nth-child(even) {
    background-color: #161b22;
    color: whitesmoke;
}

/* Fix white links on lightgray background fields */
tbody tr:nth-child(odd) td a,
tbody tr:nth-child(odd) td a:hover,
tbody tr:nth-child(odd) td a:visited {
    color: black;
}

/* BUTTONS HOLDER STYLING */
.action-buttons button {
    margin-right: 5px;
}

.action-buttons {
    min-width: 245px;
}

/* BUTTONS STYLING */
.custom-button {
    background-color: #2196F3;
    /* Primary color */
    padding: 1%;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    place-items: center;
    border-radius: 10%;
    /*aspect-ratio: 1;*/
}

/* Button colors */
.retail-ring {
    background-color: #7359f8;
}

.retail-ring:hover {
    background-color: #7359f8;
    /* Darker shade on hover */
}

.releasepreview-ring {
    background-color: #674af8;
}

.releasepreview-ring:hover {
    background-color: #674af8;
    /* Darker shade on hover */
}

.slow-ring {
    background-color: #5c3dfa;
}

.slow-ring:hover {
    background-color: #5c3dfa;
    /* Darker shade on hover */
}

.fast-ring {
    background-color: #5534fc;
}

.fast-ring:hover {
    background-color: #5534fc;
    /* Darker shade on hover */
}

.app-info {
    background-color: #492cdd;
}

.app-info:hover {
    background-color: #492cdd;
    /* Darker shade on hover */
}

/* ALERT STYLING */
.alert {
    padding: 20px;
    background-color:#2e2851;
    border-radius: 10px;
    color: whitesmoke;
    margin-bottom: 15px;
}

/* The close button */
.btnclose {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.btnclose:hover {
    color: black;
    font-weight: bold;
}

/* FILTER STYLING */
#filter {
    width: 98.5%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
    background-color: transparent;
}

/* MODAL STYLING */
.btnclose-modal {
    text-decoration: none;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.opened:before {
    display: block;
}
.opened .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transform: translate(-50%, -50%);
    top: 50%;
}
.modal-dialog {
    background: #161b22;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    width: auto;
    position: fixed;
    /* This makes it "hidden" */
    top: -100%;
    left: 50%;
    z-index: 11;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-header {
    border-bottom: #eeeeee solid 1px;
}
.modal-body {
    padding: 20px;
}
.modal-header,
.modal-footer {
    place-content: center;
    place-items: center;
    text-align: center;
    padding: 5px 10px;
}

/* FOOTER STYLING */
.footer-container {
    width: 98.5%;
    border: none;
    border-radius: 10px;
    background-color: #161b22;
    padding: 10px;
    place-items: center;
    text-align: center;
}

footer {
    font-size: 48px;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(to right, aqua, #7359f8, aqua);
    background: -webkit-linear-gradient(to right, aqua, #7359f8, aqua);
    background: -moz-linear-gradient(to right, aqua, #7359f8, aqua);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}